body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a; /* Preto */
    color: #e6e6e6; /* Cinza claro */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #9932CC; /* Roxo escuro */
    margin-bottom: 20px;
}

label {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1rem;
    border: 1px solid #9932CC;
    border-radius: 5px;
    background-color: #262626; /* Preto um pouco mais claro */
    color: #e6e6e6;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #9932CC; /* Roxo escuro */
    color: #e6e6e6;
    cursor: pointer;
}

button:hover {
    background-color: #7a29a3; /* Roxo mais escuro */
}

#res {
    margin-top: 20px;
    font-size: 1.2rem;
}
